<!DOCTYPE html>
<html lang="en">
<head>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>

    <nav>
        <h4>PlayAwwards TASK</h4>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
<div class="container mt-4">
        <div class="card" style="width: 18rem;">            
            <div class="card-header">Reset Password</div>    
            <div class="card-body">
                <form action="/v1/auth/reset-password?token={{{query.token}}}"1 method="POST">
                    <div class="mb-3">
                        <label for="password-reg" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="password-reg" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>